@font-face {
  font-family: Poppins-Regular;
  src: url('./assets/fonts/Poppins-Regular.ttf') format(truetype);
}
@font-face {
  font-family: Poppins-Bold;
  src: url('./assets/fonts/Poppins-Bold.ttf') format(truetype);
}

@font-face {
  font-family: Poppins-Italic;
  src: url('./assets/fonts/Poppins-Italic.ttf') format(truetype);
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url('./assets/fonts/Poppins-ExtraBold.ttf') format(truetype);
}

@font-face {
  font-family: Poppins-ExtraBoldItalic;
  src: url('./assets/fonts/Poppins-ExtraBoldItalic.ttf') format(truetype);
}

@font-face {
  font-family: Poppins-Italic;
  src: url('./assets/fonts/Poppins-Italic.ttf') format(truetype);
}

:root {
  font-family: Poppins-Bold, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  font: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 94%);
}

.flex-flow {
  display: flex;
  flex-flow: row nowrap;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  place-content: center;
  min-width: 375px;
  min-height: 100vh;
}

.container {
  background-color: hsl(0, 0%, 100%);
  padding: 3rem;
  border-radius: 1.5rem 1.5rem 10rem 1.5rem;
  box-shadow: 0 0.125rem 0.25rem hsla(0, 0%, 8%, 10%);
}

.form-top {
  gap: 2rem;
}

.input-div {
  display: flex;
  flex-direction: column;
  width: 10rem;
}

label,
.form-top input::placeholder {
  color: hsl(0, 1%, 44%);
}

.form-top label {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.form-top input[type='text'] {
  font-family: Poppins-Bold;
  font-size: 2rem;
  padding: 0.625rem 1rem;
  margin: 0.5rem 0;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 0.5rem;
}

.form-bot hr {
  width: 100%;
  height: 0;
  border: 1px solid hsl(0, 0%, 86%);
  align-self: center;
}

.form-bot button {
  font-size: 2.5rem;
  aspect-ratio: 1;
  padding: 1.5rem;
  border: none;
  border-radius: 3rem;
  background-color: hsl(259, 100%, 65%);
  cursor: pointer;
}

.display p {
  font-family: Poppins-ExtraBoldItalic;
  font-size: 6rem;
  line-height: 1;
  color: hsl(0, 0%, 8%);
}

.display p > span {
  color: hsl(259, 100%, 65%);
  letter-spacing: 1rem;
}

.error-field {
  font-family: Poppins-Italic;
  font-size: 0.8rem;
  color: hsl(0, 100%, 67%);
}

.error-label {
  color: hsl(0, 100%, 67%);
}

.form-top .error-input[type='text'] {
  border: 1px solid hsl(0, 100%, 67%);
}

@media screen and (max-width: 375px) {
  body {
    scale: 0.75;
  }

  .container {
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 1.5rem 1.5rem 7rem 1.5rem;
  }

  .form-top {
    gap: 1rem;
  }

  .input-div {
    width: 8rem;
  }

  .div-pad {
    display: none;
  }

  .form-bot {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .form-bot hr {
    margin-block: 2rem;
  }

  .display p {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
}
