@font-face {
  font-family: Poppins-Regular;
  src: url('./assets/fonts/Poppins-Regular.ttf') format(truetype);
}
@font-face {
  font-family: Poppins-Bold;
  src: url('./assets/fonts/Poppins-Bold.ttf') format(truetype);
}

@font-face {
  font-family: Poppins-Italic;
  src: url('./assets/fonts/Poppins-Italic.ttf') format(truetype);
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url('./assets/fonts/Poppins-ExtraBold.ttf') format(truetype);
}

@font-face {
  font-family: Poppins-ExtraBoldItalic;
  src: url('./assets/fonts/Poppins-ExtraBoldItalic.ttf') format(truetype);
}

:root {
  font-family: Poppins-Bold, sans-serif;
  line-height: 1.5;

  background-color: hsl(0, 0%, 94%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  font: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-flow {
  display: flex;
  flex-flow: row nowrap;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  place-content: center;
  min-width: 375px;
  min-height: 100vh;
}

.container {
  background-color: hsl(0, 0%, 100%);
  padding: 3rem;
  border-radius: 1.5rem 1.5rem 5rem 1.5rem;
}

.form-top {
  gap: 2rem;
}

.input-div {
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.form-top label,
.form-top input {
  color: hsl(0, 1%, 44%);
}

.form-top label {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.form-top input[type='text'] {
  font-family: Poppins-Bold;
  font-size: 2rem;
  padding: 0.625rem 1rem;
  margin: 0.5rem 0;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 0.5rem;
}

.form-bot hr {
  width: 100%;
  height: 0;
  border: 1px solid hsl(0, 0%, 86%);
  align-self: center;
}

.form-bot button {
  font-size: 2.5rem;
  aspect-ratio: 1;
  padding: 1.5rem;
  border: none;
  border-radius: 3rem;
  background-color: hsl(259, 100%, 65%);
  cursor: pointer;
}

.display p {
  font-family: Poppins-ExtraBoldItalic;
  font-size: 6rem;
  font-style: oblique;
  line-height: 1;
  color: hsl(0, 0%, 8%);
}

.display p > span {
  color: hsl(259, 100%, 65%);
  letter-spacing: 1rem;
}
